<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="#"><img id="logo" class="navbar-brand" src="../../images/images/imagem_iycr2014.jpg" alt="logo"/></a>-->
      <%= image_tag "campus-tv.png", :class => "navbar-brand", :id => "logo" %>

    </div>
    <div class="collapse navbar-collapse">
      <ul id="links" class="navbar-right nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="portfolio-1-col.html">Conferences</a>
            </li>
            <li><a href="portfolio-2-col.html">Workshops</a>
            </li>
            <li><a href="portfolio-3-col.html">Historic</a>
            </li>
          </ul>
        </li>
        <li><a href="#contact">Games</a></li>
        <li id="profileLink"><a href="#profile">Meu Perfil</a></li>
      </ul>
    </div>

  </div>
</div>

<div id="cont1" class="container">
  <div class="page-header">
    <h1 class="headerTitle">Agora na TV</h1>
  </div>

  <div id="bookmark" class="row">
    <!-- Com o servidor feito, inserir aqui informação da TV -->
    <div id="bookmarkText" class="col-xs-10">.col-xs-10 O FERNANDO GANHOU UM CHOURIÇO NA FEIRA DE ESTREMOZ</div>
    <div id="bookmarkButton" class="col-xs-2">.col-xs-2 BOTÃO</div>
  </div>
</div>

<div id="cont2" class="container">
  <div class="page-header">
    <h1 class="headerTitle">Destaques</h1>
  </div>
  <div class="row">
    <div class="col-md-9 headline-img">
      <div id="slidingPics" class="carousel slide">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#slidingPics" data-slide-to="0" class="active"
              onclick="populateHeadlineDescription()"></li>
          <li data-target="#slidingPics" data-slide-to="1" onclick="populateHeadlineDescription()"></li>
          <li data-target="#slidingPics" data-slide-to="2" onclick="populateHeadlineDescription()"></li>
          <li data-target="#slidingPics" data-slide-to="3" onclick="populateHeadlineDescription()"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div id="news_carousel" class="carousel-inner">
          <div id="news_1" class="item active">
            <div class="fill-img">
              <%= image_tag "http://placehold.it/1900x1080&text=Slide One" %>
            </div>
            <!--<div class="carousel-caption">-->
            <!--<h1>Modern Business - A Bootstrap 3 Template</h1>-->
            <!--</div>-->
          </div>
          <div id="news_2" class="item">
            <div class="fill fill-img">
              <%= image_tag "LeslieLamport_960.jpg" %>
            </div>
            <!--<div class="carousel-caption">-->

            <!--<h1>Ready to Style &amp; Add Content</h1>-->
            <!--</div>-->
          </div>
          <div id="news_3" class="item">
            <div class="fill fill-img">
              <%= image_tag "http://placehold.it/1900x1080&text=Slide Three" %>
            </div>
            <!--<div class="carousel-caption">-->
            <!--<h1>Additional Layout Options at <a-->
            <!--href="http://startbootstrap.com">http://startbootstrap.com</a>-->
            <!--</h1>-->
            <!--</div>-->
          </div>
          <div id="news_4" class="item">
            <div class="fill fill-img">
              <%= image_tag "http://placehold.it/1900x1080&text=Slide Four" %>
            </div>
            <!--<div class="carousel-caption">-->
            <!--<h1>O gui curte bué de chupar umas valentes pixotas <a href="http://startbootstrap.com">hHEHEHEHEHEHEHE</a>-->
            <!--</h1>-->
            <!--</div>-->
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#slidingPics" data-slide="prev"
           onclick="populateHeadlineDescription()">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#slidingPics" data-slide="next"
           onclick="populateHeadlineDescription()">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
    <div id="sideDescription" class="col-md-3 headline-description no-padding">
      <h2>Titulo inicial, não vai ficar muito tempo, aposto</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
        pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
        Mauris ultricies, justo eu convallis placerat, felis enim.</p>

      <h3>Project Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>
  </div>

  <!--<marquee direction="left" loop="20" width="75%">-->
  <!--O Badaró chupa peles!-->
  <!--</marquee>-->
</div>

<div id="cont3" class="container">
  <div class="page-header">
    <h1>Conteúdos mais vistos</h1>
  </div>

  <div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4 top-content">
      <div class="thumbnail">
        <%= image_tag "fellow_ana-lobo.jpg" %>
        <!--<img src="images/fellow_ana-lobo.jpg" alt="">-->

        <div class="caption">
          <h4><a href="#">First Product esta merda vai ficar grande comó caralho só para testar</a>
          </h4>

          <p>See more snippets like this online store item at <a target="_blank"
                                                                 href="http://www.bootsnipp.com">Bootsnipp -
            http://bootsnipp.com</a>. </p>
        </div>
        <div class="ratings">
          <p class="pull-right">12 views</p>

          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4 top-content">
      <div class="thumbnail">
        <!--<img src="images/destaque_4.jpg" alt="">-->
        <%= image_tag "destaque_4.jpg" %>

        <div class="caption">
          <h4><a href="#">Second Product</a>
          </h4>

          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">12 views</p>

          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4 top-content">
      <div class="thumbnail">
        <!--<img src="images/LeslieLamport_960.jpg" alt="">-->
        <%= image_tag "LeslieLamport_960.jpg" %>

        <div class="caption">
          <h4><a href="#">Third Product</a>
          </h4>

          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 views</p>

          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4 top-content">
      <div class="thumbnail">
        <!--<img src="images/top-prize.jpg" alt="">-->
        <%= image_tag "top-prize.jpg" %>

        <div class="caption">
          <h4><a href="#">Fourth Product</a>
          </h4>

          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">6 views</p>

          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4 top-content">
      <div class="thumbnail">
        <!--<img src="images/destaque_6.jpg" alt="">-->
        <%= image_tag "destaque_6.jpg" %>

        <div class="caption">
          <h4><a href="#">Fifth Product</a>
          </h4>

          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">18 views</p>

          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>