<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 2%">
  <h1 class="page-header">Resultados da pesquisa</h1>

  <% if (@user_res.size == 0) and (@content_res.size == 0) %>
      <p>Nenhum resultado corresponde à sua pesquisa</p>
  <% end %>

  <% if (@user_res.size > 0) %>
      <h3 class="page-header" style="width: 30%">Utilizadores</h3>

      <% if @user_res.count == 1 %>
          <p>Foi encontrado <strong><%= @user_res.count %></strong> utilizador</p>
      <% else %>
          <p>Foram encontrados <strong><%= @user_res.count %></strong> utilizadores</p>
      <% end %>

      <table class="table table-hover table-striped" style="width: 80%">
        <tr>
          <th>Nome</th>
          <th>Pequena descrição</th>
        </tr>
        <% @user_res.each do |user| %>
            <tr>
              <td class="col-md-3"><%= link_to user.name, user %></td>
              <td class="col-md-9"><%= raw user.about_me %></td>
            </tr>
        <% end %>
      </table>
  <% end %>

  <% if (@content_res.size > 0) %>
      <h3 class="page-header" style="width: 30%">Conteúdos</h3>

      <% if @content_res.count == 1 %>
          <p>Foi encontrado <strong><%= @content_res.count %></strong> conteúdo</p>
      <% else %>
          <p>Foram encontrados <strong><%= @content_res.count %></strong> conteúdos</p>
      <% end %>

      <table class="table table-hover table-striped" style="width: 80%">
        <tr>
          <th>Título</th>
          <th>Descrição</th>
        </tr>
        <% @content_res.each do |content| %>
            <tr>
              <td class="col-md-3"><%= link_to content.title, content %></td>
              <td class="col-md-9"><%= raw content.description %></td>
            </tr>
        <% end %>
      </table>
  <% end %>

</div>