<div class="container">
  <% if user_signed_in? %>
      <h1>Os meus conteúdos</h1>
  <% else %>
      <h1>Conteúdos</h1>
  <% end %>

  <table class="table table-striped">
    <tr>
      <th>Link image</th>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Data</th>
      <th>Visto</th>
    </tr>
    <% @contents.each do |content| %>
        <tr>
          <td><%= link_to (image_tag content.link_image, size: '90x70'), content_path(content.id) %></td>
          <td><%= link_to content.title, content_path(content.id) %></td>
          <td><%= content.description %></td>
          <td><%= content.date %></td>
          <td><%= content.views %></td>
        </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
      <%= link_to 'New Content', new_content_path %>
  <% end %>

</div>