<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 3%">
  <% if user_signed_in? %>
      <h1 class="page-header">Os meus conteúdos</h1>
  <% else %>
      <h1 class="page-header">Notícias</h1>
  <% end %>

  <table class="table table-striped">
    <tr>
      <th>Link imagem</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Data de inserção</th>
      <th>Visualizações</th>
    </tr>
    <% @contents.each do |content| %>
        <tr>
          <td><%= link_to (image_tag content.link_image, size: '90x70'), content_path(content.id) %></td>
          <td><%= link_to content.title, content_path(content.id) %></td>
          <td><%= content.description %></td>
          <td style="text-align: center"><%= content.date %></td>
          <td style="text-align: center"><%= content.views %></td>
        </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
      <%= button_to('Adicionar noticia', new_content_path, method: :get, class: "btn btn-default") %>
  <% end %>

</div>