<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 3%">

  <style>
      .tag-styled {
          background-color: lightblue;
          border-radius: 50px;
          padding: 5px;
          margin-right: 5px
      }

      .tag-styled a {
          color: blue;
      }

      p {
          font-size: 110%;
          font-family: "Myriad Pro Regular";
      }

      .image-style {
          width: 100%;
          height: 100%;
          margin-top: 10px;
          margin-bottom: 20px;
      }

      .space-in-between {
          margin-top: 15px;
          margin-bottom: 15px;
      }

      .btn-group {
          display: inline-block;
      }

      .line-spacing {
          line-height: 23px;
      }

  </style>

  <div class="row">
    <div class="col-md-8">

      <h3 class="row col-md-12">
        <b><%= raw @content.title %></b>
      </h3>

      <div class="row col-md-12" style="font-size: 90%; margin-bottom: 20px">
        <p class="space-in-between">
          <%= raw @content.description %>
        </p>
      </div>

      <div class="row" style="">

        <div class="col-md-3">
          <strong><span class="glyphicon glyphicon-calendar"></span></strong>
          <% time = @content.created_at %>
          <%= time.strftime("%d/%m/%Y, às %H:%M") %>
        </div>

        <div class="col-md-2">
          <strong><span class="glyphicon glyphicon-eye-open"></span></strong>
          <% views = @content.views %>
          <% if views == 1 %>
              <strong> <%= views %> viu</strong>
          <% else %>
              <strong> <%= views %> viram</strong>
          <% end %>
        </div>

        <div class="col-md-4">
          <strong><span class="glyphicon glyphicon-user"></span></strong>
          <%= link_to @author.name, @author, method: :get %>
        </div>
      </div>

      <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-10">
          <span class="glyphicon glyphicon-tag"></span>
          <% if @content.tags.size > 0 %>
              <% @content.tags.each do |tag| %>
                  <span class="tag-styled"><%= link_to tag.tag, '#' %></span>
              <% end %>
          <% else %>
              <span>Este conteúdo não nenhuma tag associada!</span>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <%= image_tag @content.link_image, class: 'img-rounded image-style' %>
        </div>
      </div>

      <div class="row">
        <p class="col-md-12 line-spacing">
          <%= raw @content.news_text %>
        </p>
      </div>


      <% if !@video.nil? %>
          <div class="row" style="margin-top: 15px; margin-bottom: 15px">
            <iframe class="col-md-10" src="<%= @video.link %>"
                    style="width: 100%; height:500px; border: 0px; padding: 0px"
                    allowfullscreen="">

            </iframe>


            <!--<iframe class="col-md-10" src="video.link + ?autoplay=1&controls=0&modestbranding=1&showinfo=0" style="width: 100%; height:100%;"-->
            <!--frameborder="0"-->
            <!--width=100%-->
            <!--height:-->
            <!--100%-->
            <!--enablejsapi="1"-->
            <!--allowfullscreen >-->
            <!--</iframe>-->
          </div>
      <% end %>


      <div class="row" style="margin-top: 30px">
        <% if !current_user.nil? %>
            <% if (@author.id == current_user.id) or (current_user.id == 1) %>
                <div class="col-md-2">
                  <%= button_to 'Editar notícia', edit_content_path(@content), method: :get, class: "btn btn-default" %>
                </div>
                <div class="col-md-3">
                  <%= button_to 'Remover notícia', @content, method: :delete, data: {confirm: 'Tens a certeza que queres remover esta notícia?'}, class: "btn btn-default" %>
                </div>
            <% end %>
        <% end %>
        <div class="col-md-3">
          <%= button_to 'Voltar atrás', contents_path, method: :get, class: "btn btn-default" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h2 class="table-header" style="text-align: center">Notícias mais recentes</h2>
      <table class="table table-hover">
        <% @latest.each do |content| %>
            <tr>
              <td><%= link_to content.title, content, method: :get %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>