<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 3%">

  <style>
      p {
          font-size: 110%;
          font-family: "Myriad Pro Regular";
      }

  </style>

  <!--<p id="notice"><%# notice %></p>-->

  <h3>
    <%= @content.title %>
  </h3>

  <p>
    <!--<strong>Description:</strong>-->
    <%= @content.description %>
  </p>

  <div class="row">
    <div class="col-md-3">
      <strong>Data:</strong>
      <%= @content.date %>
    </div>

    <div class="col-md-2">
      <strong>Visto:</strong>
      <%= @content.views %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag @content.link_image, class: 'img-responsive' %>
    </div>
  </div>

  <p>
    <%= @content.news_text %>
  </p>

  <%= button_to 'Editar notícia', edit_content_path(@content), method: :get, class: "btn btn-default" %>
  <p></p>
  <%= button_to 'Voltar atrás', contents_path, method: :get, class: "btn btn-default" %>

</div>