<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Link image:</strong>
  <%= image_tag @content.link_image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @content.date %>
</p>

<p>
  <strong>Views:</strong>
  <%= @content.views %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
