<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @menu.meal %>
</p>

<p>
  <strong>Dish:</strong>
  <%= @menu.dish %>
</p>

<p>
  <strong>Date:</strong>
  <%= @menu.date %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
