<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @classroom.classroom %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
