<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 2%">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <h2 class="page-header" style="margin-bottom: 3%; margin-top: 3%"><b>Criar Conta</b></h2>

      <p style="margin-top: 3%; margin-bottom: 3%; font-size: 120%">Já tem conta? <%= render "devise/shared/links" %></p>

      <div class="row">
        <div class="form-group col-md-6">
          <div><%= f.label :nome, class: 'form' %>
            <br/>
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Nome' %></div>
        </div>

        <div class="form-group col-md-6">
          <div><%= f.label :email, 'Email (tens que usar o teu email @campus.fct.unl.pt)' %>
            <br/>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <div><%= f.label :palavra_passe %>
            <br/>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control',
                                 placeholder: 'Palavra Passe' %>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div><%= f.label :confimação_palavra_passe %>
            <br/>
            <%= f.password_field :password_confirmation, autocomplete: 'off',
                                 class: 'form-control', placeholder: 'Confirmar Palavra Passe' %>
          </div>
        </div>
      </div>

        <div class="form-group form-inline">
          <div><%= f.label :data_de_nascimento %>
            <br/>
            <%= f.date_select :birth_date, {start_year: 1950, end_year: Time.now.year}, class: 'form-control' %>
          </div>
        </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <div>
            <%= f.label :curso %> </br>

            <select name="user[course]" class="form-control">
              <option value="">Please select</option>
              <option value="Informática" selected="selected">Informática</option>
              <option value="Ambiente">Ambiente</option>
              <option value="Materiais">Materiais</option>
              <option value="Electotécnica">Electotécnica</option>
              <option value="Fisica">Fisica</option>
              <option value="Matemática">Matemática</option>
              <option value="Gestão Industrial">Gestão Industrial</option>
              <option value="Biomédica">Biomédica</option>
              <option value="Quimica">Quimica</option>
              <option value="Civil">Civil</option>
              <option value="Mecânica">Mecânica</option>
              <option value="Bioquimica">Bioquimica</option>
              <option value="Funcionário">Funcionário</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <div><%= f.label :sobre_mim %>
            <br/>
            <%= f.text_area :about_me, class: 'form-control', placeholder: 'Diz-nos algo sobre ti!' %></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-6">
          <div><%= f.label :imagem_de_perfil %> (Insere um URL)
            <br/>
            <%= f.text_field :avatar_url, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div><%= f.label :sexo %>
        </br>
        <div class="radio-inline">
          <%= f.radio_button :gender, 'Masculino' %>
          <%= f.label :gender, 'Masculino', :value => 'Masculino' %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :gender, 'Feminino' %>
          <%= f.label :gender, 'Feminino', :value => 'Feminino' %>
        </div>
      </div>

      <div style="margin-top: 2%"><%= f.submit "Criar conta!", class: "btn btn-default" %></div>
  <% end %>
</div>

