<h1>Listing current_videos</h1>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_videos.each do |current_video| %>
      <tr>
        <td><%= current_video.index %></td>
        <td><%= link_to 'Show', current_video %></td>
        <td><%= link_to 'Edit', edit_current_video_path(current_video) %></td>
        <td><%= link_to 'Destroy', current_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Current video', new_current_video_path %>
