<div class=" container">
  <h1 class="page-header">O meu perfil</h1>

  <p id="notice"><%= notice %></p>


  <div id="profileBookmarks" class="container">

  </div>

  <!--<div id="userInfo row">-->
  <div class="row">
    <div class="col-md-3" id="bookmarks">
      <ul>
        <li>Video 1 - isto é um nome muita grande só para evr se está a descer como deve ser</li>
        <li>Video 2</li>
        <li>Video 3</li>
        <li>Video 4</li>
        <li>Video 5</li>
        <li>Video 6</li>
        <li>Video 7</li>
        <li>Video 8</li>
        <li>Video 9</li>
      </ul>
    </div>
    <div class=" col-md-9">
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Avatar:</strong>
        </div>
        <div class="col-xs-7">
          <%= (image_tag @user.avatar_url) %>
          <%= @user.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Nome:</strong>
        </div>
        <div class="col-xs-7">
          <%= @user.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Curso:</strong>
        </div>
        <div class="col-xs-7">
          <%= @user.course %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Data de Nascimento:</strong>
        </div>
        <div class="col-xs-7">
          <%= @user.birth_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Género:</strong>
        </div>
        <div class="col-xs-7">
          <%= @user.gender %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 right-align">
          <strong>Sobre mim:</strong>
        </div>
        <div class="col-xs-7">
          <%= @user.about_me %>
        </div>
      </div>
      <div class="col-xs-12" id="links">
        <%= link_to 'Edit', edit_user_registration_path %> |
        <%= link_to 'Back', users_path %>
      </div>


    </div>

  </div>

</div>
</div>
