
<div class=" container">
  <h1 class="page-header">O meu perfil</h1>
  <p id="notice"><%= notice %></p>



  <div id="profileBookmarks" class="container">

  </div>

  <div id="userInfo row">
    <div class="row">
      <div class=" col-xs-5">
        <ul>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
          <li>dfgfggfgfgfgfgfg</li>
        </ul>
      </div>
      <div class="col-xs-3">
        <strong>Nome:</strong>
      </div>
      <div class="col-xs-4">
        <%= @user.name %>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-md-offset-5">
        <strong>Data de nascimento:</strong>
      </div>
      <div class="col-xs-4">
        <%= @user.birth_date %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-md-offset-5">
        <strong>Sexo:</strong>
      </div>
      <div class="col-xs-4">
        <%= @user.gender %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-md-offset-5">
        <strong>Curso:</strong>
      </div>
      <div class="col-xs-4">
        <%= @user.course %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-md-offset-5">
        <strong>Sobre mim:</strong>
      </div>
      <div class="col-xs-4">
        <%= @user.about_me %>
      </div>
    </div>


  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>