<div id="cont1" class="container space-top space-bottom" style="padding-bottom: 2%">
  <h1 class="page-header">Perfil de <%= @user.name %></h1>

  <style>
      .row {
          margin-bottom: 15px;
      }

      .right-align {
          text-align: right;
      }

      /*#bookmarks {*/
      /*background-color: lightgray;*/
      /*}*/

      #links {
          text-align: center;
      }
  </style>


  <!--<div id="profileBookmarks" class="container">-->

  <!--</div>-->

  <!--<div id="userInfo row">-->


  <% if !current_user.nil? %>
      <% if @user.id == current_user.id %>
          <div class="col-md-4">
            <h3 class="table-header" style="text-align: center">
              <b>Conteúdo guardado</b>
            </h3>
            <% bookmarks = current_user.bookmarked_contents %>
            <% puts bookmarks.size %>
            <% if bookmarks.size == 0 %>
                <p class="justified">Não tens conteúdo guardado. Podes guardar conteúdo para ver mais tarde
                  através da página principal</p>
            <% else %>
                <table class="table">
                  <% bookmarks.each do |entry| %>
                      <% content = Content.find_by(:id => entry.content_id) %>
                      <tr>
                        <td><%= link_to content.title, content_path(content.id) %></td>
                        <td class="right-align"><%= button_to "Remover?", entry, method: :delete, class: "btn btn-default btn-sm" %></td>
                      </tr>
                  <% end %>
                </table>
            <% end %>
          </div>
      <% end %>
  <% end %>

  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Avatar:</strong>
      </div>
      <div class="col-xs-7">
        <%= image_tag @user.avatar_url, size: '150x150' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Nome:</strong>
      </div>
      <div class="col-xs-7">
        <%= @user.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Curso:</strong>
      </div>
      <div class="col-xs-7">
        <%= @user.course %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Data de Nascimento:</strong>
      </div>
      <div class="col-xs-7">
        <%= @user.birth_date %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Género:</strong>
      </div>
      <div class="col-xs-7">
        <%= @user.gender %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 right-align">
        <strong>Sobre mim:</strong>
      </div>
      <div class="col-xs-7">
        <%= @user.about_me %>
      </div>
    </div>
    <% if !current_user.nil? %>
        <% if @user.id == current_user.id %>
            <div class="col-xs-12" id="links">
              <%= button_to 'Editar perfil', edit_user_registration_path, method: :get, class: "btn btn-default" %>
            </div>
        <% end %>
    <% end %>


  </div>

</div>

</div>
</div>
