<% if @game.name == '2048' %>

    <%= stylesheet_link_tag 'main2048.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bind_polyfill.js' %>
    <%= javascript_include_tag 'classlist_polyfill.js' %>
    <%= javascript_include_tag 'animframe_polyfill.js' %>
    <%= javascript_include_tag 'keyboard_input_manager.js' %>
    <%= javascript_include_tag 'html_actuator.js' %>
    <%= javascript_include_tag 'grid.js' %>
    <%= javascript_include_tag 'tile.js' %>
    <%= javascript_include_tag 'local_storage_manager.js' %>
    <%= javascript_include_tag 'game_manager.js' %>
    <%= javascript_include_tag 'application2048.js' %>

    <style>
        /* Large desktop */
        @media (min-width: 1200px) {
            #highscore_table {
                margin-left: 6%;
            }

            #badjoras {
                padding-right: 50px
            }
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) {
            #highscore_table {
                margin-left: 8%;
                margin-top: 12%;
            }
        }

        /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {
            #cont1 {
                margin-left: 0px;
                margin-right: 0px;
            }

            #highscore_table {
                margin-left: 8%;
                margin-top: 12%;
            }
        }

        /* Landscape phones and down */
        @media (max-width: 480px) {
            #highscore_table {
                margin-left: 8%;
                margin-top: 12%;
            }
        }

        .table-header {
            margin-bottom: 4%;
            border-bottom: 1px solid #eee;
        }

        #game {
            background-color: #e3ebf2;
            padding-right: 35px;
            padding-left: 35px;
            padding-bottom: 7%;
        }
    </style>

    <div class="container" id="game" style="margin-top: 30px;
            margin-bottom: 30px; padding-top: 20px">
      <div class="row">
        <div id="badjoras" class="gameToTheLeft col-md-6">
          <div class="heading">
            <h1 class="title">2048</h1>

            <div class="scores-container">
              <div class="score-container">0</div>
              <div class="best-container">0</div>
            </div>
          </div>

          <div class="above-game">
            <% if user_signed_in? %>
                <p class="game-intro">Junte os números e chegue ao <strong>quadrado 2048!</strong></p>

            <% else %>
                <p> Não está autenticado! A sua pontuação não vai contar para a tabela das melhores pontuações! </p>
            <% end %>
            <a class="restart-button">Novo Jogo</a>
          </div>

          <div class="game-container">
            <div class="game-message">
              <p></p>

              <div class="lower">
                <a class="keep-playing-button">Continue a jogar</a>
                <a class="retry-button">Tente de novo</a>
              </div>
            </div>

            <div class="grid-container">
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
              <div class="grid-row">
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
                <div class="grid-cell"></div>
              </div>
            </div>

            <div class="tile-container">

            </div>
          </div>

          <p class="game-explanation" style="margin-top: 25px; margin-bottom: 20px">
            <strong class="important">Como jogar:</strong> Use as <strong>setas do teclado</strong> para movimentar os
            quadrados.
            Quando dois quadrados com o mesmo número se tocarem eles <strong>juntam-se num só!</strong>
          </p>

          <p>
            Pode jogar ao jogo original <a href="http://gabrielecirulli.github.io/2048/">aqui</a>.
          </p>
        </div>

        <div id="highscore_table" class="col-md-5">
          <h2 class="table-header">Tabela de pontuações</h2>
          <ul id="table_scores" class="nav nav-tabs">
            <li class="active"><a href="#geral">Geral</a></li>
            <li><a href="#curso">Curso</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="geral">
              <table class="table table-striped">
                <tr>
                  <th>Nome</th>
                  <th>Curso</th>
                  <th>Pontuação</th>
                </tr>
                <% orderedScores = Score.where(game_id: 1).order(score: :desc) %>
                <% orderedScores.each do |score| %>
                    <tr>
                      <td><%= User.find_by(id: score.user_id).name %></td>
                      <td><%= User.find_by(id: score.user_id).course %></td>
                      <td><%= score.score %></td>
                    </tr>
                <% end %>
              </table>
            </div>
            <div class="tab-pane" id="curso">

            </div>
          </div>
        </div>

      </div>
    </div>

    <script>
        $('#table_scores a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>

<% else %>
    <p>
      <strong>Name:</strong>
      <%= @game.name %>
    </p>


<% end %>