<%= simple_form_for @free_classroom do |f| %>
    <% if @free_classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@free_classroom.errors.count, "error") %> prohibited this free_classroom from being
            saved:</h2>

          <ul>
            <% @free_classroom.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-7">
        <div class="field">
          <%= f.label 'Sala' %>
          <br>
          <%# f.select(:classroom_id, Classroom.all.collect {
              |classroom| [classroom.building + " Sala: " + classroom.classroom, classroom.id] },
                   {include_blank: 'Selecione uma sala'}, class: 'form-control') %>
          <select class="form-control" id="free_classroom_classroom_id" name="free_classroom[classroom_id]">
            <option value="">Selecione uma sala</option>
            <% prevBuilding = nil %>
            <% Classroom.all.each do |c| %>
                <% building = c.building %>
                <% if building != prevBuilding %>
                    <optgroup label=<%= building %>>
                <% end %>
                <%= options_for_select([[c.classroom, c.id]]) %>
                <% prevBuilding = building %>

            <% end %>
            </optgroup>
          </select>
        </div>
      </div>
    </div>

    <!--<div class="row" style="margin-top: 15px">-->
    <!--<div class="col-md-5">-->
    <!--<div class="form-inline">-->
    <!--<div class="field">-->
    <!--<%# f.label 'Desde' %>-->
    <!--<br>-->
    <%# f.datetime_select :from_time, {minute_step: 30, :discard_year => true, :discard_month => true},
                                  {class: 'form-control'} %>
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <%= f.input :from_time, :as => :hidden, :input_html => {:value => DateTime.now + 1.hours} %>

    <div class="row" style="margin-top: 15px">
      <div class="col-md-5">
        <div class="form-inline">
          <div class="field">
            <%= f.label 'Até' %>
            <br>
            <%= f.datetime_select :to_time, {start_hour: DateTime.now.hour, minute_step: 30, :discard_year => true, :discard_month => true},
                                  {class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 3%" class="actions">
      <%= f.submit 'Adicionar sala livre', :class => "btn btn-default" %>
    </div>
<% end %>