<%= simple_form_for @free_classroom do |f| %>
    <% if @free_classroom.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@free_classroom.errors.count, "error") %> prohibited this free_classroom from being
            saved:</h2>

          <ul>
            <% @free_classroom.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Sala' %>
      <br>
      <%= f.select(:classroom_id, Classroom.all.collect {
              |classroom| [classroom.building + " Sala: " + classroom.classroom, classroom.id] },
                   {include_blank: 'Selecione uma sala'}, class: 'form-control') %>
    </div>

    <div class="form-inline">
      <div class="field">
        <%= f.label 'Desde' %>
        <br>
        <%= f.datetime_select :from_time, {start_year: Date.today.year, end_year: Date.today.year,
                                           minute_step: 30}, {:order => [:day, :month, :year], class: 'form-control'} %>
      </div>
    </div>

    <div class="form-inline">
      <div class="field">
        <%= f.label 'Até' %>
        <br>
        <%= f.datetime_select :to_time, {start_year: Date.today.year, end_year: Date.today.year,
                                         minute_step: 30}, {:order => [:day, :month, :year], class: 'form-control'} %>
      </div>
    </div>

    <div style="margin-top: 3%" class="actions">
      <%= f.submit 'Adicionar sala livre' %>
    </div>
<% end %>