<div class="container">

  <h1>Salas livres</h1>

  <%= form_tag(free_classrooms_path, :method => "get", id: "building-form") do %>

      <%= collection_select :classroom, :building, Classroom.select(:building).uniq, :building, :building %>

      <%= submit_tag "Filter" %>
  <% end %>


  <table class="table table-striped">
    <tr>
      <th>Edificio</th>
      <th>Sala</th>
      <th>De</th>
      <th>Até</th>
      <th>Likes</th>
    </tr>
    <% @free_classrooms.each do |free_classroom| %>
        <% if free_classroom.to_time > Date.today %>
            <tr>
              <td><%= Classroom.find_by(id: free_classroom.classroom_id).building %></td>
              <td><%= Classroom.find_by(id: free_classroom.classroom_id).classroom %></td>
              <td><%= free_classroom.from_time.to_time %></td>
              <td><%= free_classroom.to_time.to_time %></td>
              <td><%= free_classroom.likes %></td>
            </tr>
        <% end %>
    <% end %>
  </table>

  <%= link_to 'Adicionar nova sala livre', new_free_classroom_path %>
</div>