<div class="container">

  <h1>Salas livres</h1>

  <div class="row">
    <%= form_tag(free_classrooms_path, :method => "get", id: "building-form") do %>
        <div class="col-xs-5 col-md-3">
          <%= collection_select :classroom, :building, Classroom.select(:building).uniq, :building,
                                :building, {}, class: 'form-control' %>
        </div>
        <%= submit_tag "Filtrar", class: 'btn btn-default' %>
    <% end %>
  </div>

  <table class="table table-striped" style="margin-top: 2%;">
    <tr>
      <th>Edificio</th>
      <th>Sala</th>
      <th>De</th>
      <th>Até</th>
      <th>Likes</th>
    </tr>
    <% @free_classrooms.each do |free_classroom| %>
        <% if free_classroom.to_time > Date.today %>
            <tr>
              <td><%= Classroom.find_by(id: free_classroom.classroom_id).building %></td>
              <td><%= Classroom.find_by(id: free_classroom.classroom_id).classroom %></td>
              <td><%= free_classroom.from_time.to_s(:short) %></td>
              <td><%= free_classroom.to_time.to_s(:short) %></td>
              <td><%= free_classroom.likes %></td>
            </tr>
        <% end %>
    <% end %>
  </table>

  <%= link_to 'Adicionar nova sala livre', new_free_classroom_path %>
</div>