<div class="container">

  <h1>Salas livres</h1>

  <table class="table table-striped">

    <tr>
      <th>Edificio</th>
      <th>Sala</th>
      <th>De</th>
      <th>Até</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
    <% @free_classrooms.each do |free_classroom| %>
        <tr>
          <td><%= Classroom.find_by(id: free_classroom.classroom_id).building %></td>
          <td><%= Classroom.find_by(id: free_classroom.classroom_id).classroom %></td>
          <td><%= free_classroom.from_time.to_time %></td>
          <td><%= free_classroom.to_time.to_time %></td>
          <td><%= free_classroom.likes %></td>
          <!--<td><%# link_to 'Show', free_classroom %></td>-->
          <!--<td><%# link_to 'Edit', edit_free_classroom_path(free_classroom) %></td>-->
          <!--<td><%# link_to 'Destroy', free_classroom, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
        </tr>
    <% end %>

  </table>

  <br>

  <%= link_to 'New Free classroom', new_free_classroom_path %>
</div>