<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @free_classroom.user_id %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @free_classroom.classroom_id %>
</p>

<p>
  <strong>From Time:</strong>
  <%= @free_classroom.from_time %>
</p>

<p>
  <strong>To Time:</strong>
  <%= @free_classroom.to_time %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @free_classroom.likes %>
</p>

<%= link_to 'Edit', edit_free_classroom_path(@free_classroom) %> |
<%= link_to 'Back', free_classrooms_path %>
