<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'tv.css' %>
  <%= stylesheet_link_tag 'animate.css' %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'tv.js' %>
  <%= javascript_include_tag 'jquery.marquee.js' %>

</head>
<body onload="start()">
<div id="globalContainer">
  <div class="" id="main">

    <div class="" id="video-and-lateral">

      <div class="" id="view-area">

      </div>


      <div class="" id="right-panel">

        <div class="" id="right-panel-top">
          <div id="hour-date">
            <div id="hour-info">
              <p></p>
            </div>
            <div id="date-info">
              <p></p>
            </div>

          </div>
        </div>
        <div class="" id="right-panel-middle">
          <div class="" id="toAnimate">
            <% require 'rubygems' %>
            <% require 'nokogiri' %>
            <% require 'open-uri' %>
            <% i = 0 %>
            <%= puts "=============== DATA DE HOJE ===============" %>
            <%= puts Date.today %>
            <%= puts "=============== TAMANHO DA TABELA MENU ===============" %>
            <%= puts Menu.all.size %>
            <% meals = Menu.all %>

            <% file = open("http://sas.unl.pt/cantina") %>
            <% page = Nokogiri::HTML(file) %>
            <%= puts "=============== A PAGINA É NULA?? ===============" %>
            <% ementaFCT = page.css('div.cantina') %>
            <% ementaFCT = ementaFCT[0] %>
            <%= puts page.nil? %>
            <%= puts ementaFCT.nil? %>

            <% while ((meals.size == 0) && (i < 10)) %>
                <% if !(ementaFCT.nil?) %>
                    <%= puts "=============== a pagina nao é nula, ainda bem que entrou aqui ===============" %>
                    <% pratosAlmoco = ementaFCT.css('.lunch').css('.dish') %>
                    <% pratosJantar = ementaFCT.css('.dinner').css('.dish') %>

                    <% pratosAlmoco.each do |prato| %>
                        <% prato.text.split(";").each do |temp| %>
                            <% Menu.create(meal: "almoco", dish: temp, date: Date.today()) %>
                        <% end %>
                    <% end %>
                    <% pratosJantar.each do |prato| %>
                        <% prato.text.split(";").each do |temp| %>
                            <% Menu.create(meal: "jantar", dish: temp, date: Date.today()) %>
                        <% end %>
                    <% end %>
                <% end %>
                <% meals = Menu.all %>
                <% i = i+1 %>
            <% end %>

            <%= puts "=============== NUMERO DE ITERAÇOES ===============" %>
            <% puts i %>
            <%= puts "=============== TAMANHO DO MENU NO FIM DA CENA ===============" %>
            <%= puts meals.size %>
            <%= puts "=============== FIM DO TESTE ===============" %>
            <% file.close %>
          </div>
        </div>

        <div class="" id="right-panel-bottom">
          <div id="meteo-info">


            <% client = Weatherman::Client.new :lang => 'pt-br' %>
            <% response = client.lookup_by_location 'Almada' %>
            <% forecast = response.forecasts.first %>
            <% image = response.description_image %>
            <% weather = Weather.find_by(id: 1) %>
            <% if weather.nil? %>
                <% Weather.create(date: response.condition['date'], city: response.location['city'],
                                  min_temp: forecast['low'], max_temp: forecast['high'],
                                  description: response.condition['text'], image_url: image['src']) %>
            <% else %>
                <% weather.update(date: response.condition['date'], city: response.location['city'],
                                  min_temp: forecast['low'], max_temp: forecast['high'],
                                  description: response.condition['text'], image_url: image['src']) %>
            <% end %>
            <div id="meteo-min-temp">
              <div id="max-temp-img">

              </div>
              <div id="max-temp-value">

              </div>
            </div>
            <div id="meteo-max-temp">
              <div id="min-temp-img">

              </div>
              <div id="min-temp-value">

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="" id="footer">

      <div class="" id="category">
        <p></p>
      </div>

      <div class="news-container-scroll" id="news-container">
        <p class=""></p>
      </div>

    </div>

  </div>
</div>
</body>
</html>