<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'tv.css' %>
  <%= stylesheet_link_tag 'mediaelementplayer.css' %>
  <%= javascript_include_tag 'trabalho.js' %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'mediaelement-and-player.min.js', 'application' %>
</head>
<body onload="init()">

<div class="" id="main">

  <div class="" id="video-and-lateral">

    <div class="" id="logotype">
      <h2>CampusTV</h2>
    </div>

    <div class="" id="view-area">

      <!--<video width="640" height="360" id="player1" autoplay>-->
        <!--<source type="video/youtube" src="http://www.youtube.com/watch?v=nOEw9iiopwI" />-->
      <!--</video>-->
      <!--https://www.youtube.com/watch?v=iaItmiZTHP8-->

      <!--<%= Video.second.link %>?autoplay=1&controls=0&showinfo=0&rel=0
      https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&controls=0&showinfo=0&rel=0&modestbranding=1 -->

<!--
      <%= Video.all.each do |video| %>
      <iframe width="100%" height="100%" src="<%= video.link %>?autoplay=1&controls=0&showinfo=0&rel=0&modestbranding=1&enablejsapi=1&playerapiid=ytplayer"
              frameborder="0"></iframe>
       <% end %>
-->
          <iframe width="100%" height="100%" src="<%= Video.first.link %>?autoplay=0&controls=0&showinfo=0&rel=0"
                  frameborder="0"></iframe>

      <!--<#%= video_tag 'https://www.youtube.com/watch?v=vBZ5SLJmfdw', size: '600x400', type: "video/youtube", controls: true, autoplay: true %>-->
    </div>

    <div class="" id="right-panel">

      <div class="" id="right-panel-top">
        <div id="hour-date">
          <div id="hour-info">
            <h1></h1>
          </div>
          <div id="date-info">
            <h3>Sexta, 20</h3>

            <h3>Outubro</h3>
          </div>

        </div>
      </div>
      <div class="" id="right-panel-middle">

        
      </div>

      <div class="" id="right-panel-bottom">
        <div id="meteo-info">
          <div id="meteo-min-temp">
            <div id="max-temp-img">

            </div>
            <div id="max-temp-value">

            </div>
          </div>
          <div id="meteo-max-temp">
            <div id="min-temp-img">

            </div>
            <div id="min-temp-value">

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="" id="footer">

    <div class="" id="category">
      <p><b>ÚLTIMA HORA</b></p>
    </div>

    <div class="" id="news-container">
      <p>Uma pequena noticia, só para arrancar com a cena hehehehehehehehehehehehehe</p>
    </div>

  </div>

</div>

</body>
</html>