<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'tv.css' %>
  <%= stylesheet_link_tag 'animate.css' %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'tv.js' %>
  <%= javascript_include_tag 'jquery.marquee.js' %>

</head>
<body onload="start()">
<div id="globalContainer">
  <div class="" id="main">

    <div class="" id="video-and-lateral">

      <div class="" id="view-area">

      </div>


      <div class="" id="right-panel">

        <div class="" id="right-panel-top">
          <div id="hour-date">
            <div id="hour-info">
              <p></p>
            </div>
            <div id="date-info">
              <p></p>
            </div>

          </div>
        </div>
        <div class="" id="right-panel-middle">
          <div class="" id="toAnimate">
            <% require 'rubygems' %>
            <% require 'nokogiri' %>
            <% require 'open-uri' %>
            <% i = 0 %>
            <% meals = Menu.find_all_by_date() %>
            <% while (meals.size == 0) %>
                <% page = Nokogiri::HTML(open("http://sas.unl.pt/cantina")) %>

                <% ementaFCT = page.css('.cantina')[0] %>
                <% pratosAlmoco = ementaFCT.css('.lunch').css('.dish') %>
                <% pratosJantar = ementaFCT.css('.dinner').css('.dish') %>

                <% pratosAlmoco.each do |prato| %>
                    <% prato.text.split(";").each do |temp| %>
                        <% Menu.create(meal: "almoco", dish: temp, date: Date.today()) %>
                    <% end %>
                <% end %>
                <% pratosJantar.each do |prato| %>
                    <% prato.text.split(";").each do |temp| %>
                        <% Menu.create(meal: "jantar", dish: temp, date: Date.today()) %>
                    <% end %>
                <% end %>
                <% meals = Menu.all %>
                <% i+=1 %>
            <% end %>
            <% puts i %>
          </div>
        </div>

        <div class="" id="right-panel-bottom">
          <div id="meteo-info">
            <div id="meteo-min-temp">
              <div id="max-temp-img">

              </div>
              <div id="max-temp-value">

              </div>
            </div>
            <div id="meteo-max-temp">
              <div id="min-temp-img">

              </div>
              <div id="min-temp-value">

              </div>
            </div>
          </div>
        </div>


      </div>

    </div>

    <div class="" id="footer">

      <div class="" id="category">
        <p></p>
      </div>

      <div class="news-container-scroll" id="news-container">
        <p class=""></p>
      </div>

    </div>

  </div>
</div>
</body>
</html>