<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'tv.css' %>
  <%= stylesheet_link_tag 'animate.css' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'jquery.marquee.js' %>
  <%= javascript_include_tag 'jquery.cycle2.min.js' %>
  <%= javascript_include_tag 'tv.js' %>

</head>
<body onload="start()">
<div id="globalContainer">
  <div class="" id="main">

    <div class="" id="video-and-lateral">


      <div id="view-area" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner" id="tv-carousel">

          <!--Inserção dos items aqui-->

        </div>
      </div>


      <div class="" id="right-panel">

        <div class="" id="right-panel-top">
          <div id="hour-date">
            <div id="hour-info">
              <p></p>
            </div>
            <div id="date-info">
              <p></p>
            </div>

          </div>
        </div>
        <div class="" id="right-panel-middle">
          <div class="" id="toAnimate">
            <!--a cena da ementa da cantina estava aqui-->
          </div>
        </div>

        <div class="" id="right-panel-bottom">
          <div class="" id="toAnimateBottom">
          </div>
        </div>


      </div>

    </div>

    <div class="" id="footer">

      <div class="" id="footer-category-tv">
        <p></p>
      </div>

      <div class="news-container-scroll" id="news-container">
        <p></p>
      </div>

    </div>

  </div>
</div>
</body>
</html>