<!DOCTYPE html>
<html>
<head>
  <title>CampusTV</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'animate' %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'tooltip.js' %>
  <%= javascript_include_tag 'trabalho.js' %>
  <%= csrf_meta_tags %>
</head>
<body onload="init()">
<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "campus-tv.png", :class => "navbar-brand", :id => "logo"), root_path %>

    </div>

    <div class="collapse navbar-collapse">
      <ul id="links" class="navbar-right nav navbar-nav">
        <!--<li><%= link_to 'TV', tv_path, class: 'navbar-item' %></li>-->
        <li><%= link_to 'Salas Livres', free_classrooms_path, class: 'navbar-item' %></li>
        <li><%= link_to 'Noticias', contents_path, class: 'navbar-item' %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-item" data-toggle="dropdown">
            <!--Jogo-->
            <span><%= image_tag 'glyphicons/png/glyphicons_321_gamepad.png' %></span>
            <b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><%= link_to '2048', game_path(1), :method => :get %>
            </li>

          </ul>
        </li>

        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 0px;
                      padding-right: 0px;
                      padding-bottom: 0px;
                      padding-left: 0px;">
                <% if current_user.avatar_url == '' %>
                    <%= image_tag 'http://noticias.rumonet.pt/wp-content/uploads/2013/02/logo_FCTUNL.jpg', size: '50x50' %>
                <% else %>
                    <%= image_tag current_user.avatar_url, size: '50x50' %>
                <% end %>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Perfil', current_user %>
                </li>
                <li><%= link_to 'Os meus conteúdos', "/users/#{current_user.id}/contents" %>
                </li>
                <li>
                  <%= link_to 'Pontuações', scores_path %>
                </li>
                <li> <%= link_to 'Encerrar sessão', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>

        <% else %>
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Criar conta', new_user_registration_path, :method => :get %>
                </li>
                <li><%= link_to 'Iniciar sessão', new_user_session_path, :method => :get %>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<%= yield %>

</body>
<footer>

  <div class="row no-space-at-all">
    <div class="col-md-5 no-space-at-all">
      <%= image_tag "logo_fctunl.png", :class => "footerImg", :id => "logo" %>
    </div>
    <div class="col-md-7 no-space-at-all" style="margin-top: 10px;">
      <div class="row no-space-at-all">
        <span class="footerNames no-padding col-md-3">Rafael Bizarra nº41895</span>
        <span class="footerNames no-padding col-md-3">Leonardo Fião nº41740</span>
        <span class="footerNames no-padding col-md-3">Guilherme Fião nº41738</span>
      </div>
      <div class="row no-space-at-all">
        <span class="footerNames no-padding col-md-6">{r.bizarra, l.fiao, g.fiao}@campus.fct.unl.pt</span>
        <span class="footerNames no-padding col-md-2">FCT 2014</span>
      </div>

    </div>

  </div>
</footer>
</html>


<style>

    .footerImg {
        width: 336px;
        height: 75px;
    }

    .footerNames {
        font-size: 125%;
    }

    .no-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .no-space-at-all {
        padding-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

</style>