<!DOCTYPE html>
<html>
<head>
  <title>CampusTV</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-2.1.1.min.js', 'application' %>
  <%= javascript_include_tag 'trabalho.js' %>
  <%= csrf_meta_tags %>
</head>
<body onload="init()">
<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag "campus-tv.png", :class => "navbar-brand", :id => "logo"), root_path %>

    </div>

    <div class="collapse navbar-collapse">
      <ul id="links" class="navbar-right nav navbar-nav">
        <li><%= link_to 'TV', tv_path, class: 'navbar-item' %></li>
        <li><%= link_to 'Jogo', games_path, class: 'navbar-item' %></li>

        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 0px;
                      padding-right: 0px;
                      padding-bottom: 0px;
                      padding-left: 0px;">
                <% if current_user.avatar_url == '' %>
                    <%= image_tag 'http://placehold.it/100x100', size: '50x50' %>
                <% else %>
                    <%= image_tag current_user.avatar_url, size: '50x50' %>
                <% end %>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Perfil', current_user %>
                </li>
                <li><%= link_to 'Conteúdo', contents_path %>
                </li>
                <li>
                  <%= link_to 'Pontuações', scores_path %>
                </li>
                <li> <%= link_to 'Encerrar sessão', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>

        <% else %>
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Criar conta', new_user_registration_path, :method => :get %>
                </li>
                <li><%= link_to 'Iniciar sessão', new_user_session_path, :method => :get %>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<%= yield %>

</body>
</html>
