<!DOCTYPE html>
<html>
<head>
  <title>CampusTV</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="#"><img id="logo" class="navbar-brand" src="../../images/images/imagem_iycr2014.jpg" alt="logo"/></a>-->
      <%= link_to (image_tag "campus-tv.png", :class => "navbar-brand", :id => "logo"), root_path %>

    </div>

    <div class="collapse navbar-collapse">
      <ul id="links" class="navbar-right nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="portfolio-1-col.html">Conferences</a>
            </li>
            <li><a href="portfolio-2-col.html">Workshops</a>
            </li>
            <li><a href="portfolio-3-col.html">Historic</a>
            </li>
          </ul>
        </li>
        <li><a href="#contact">Games</a></li>
        <% if user_signed_in? %>
            <li id="profileLink">
              <p>
                Bem vindo <%= link_to current_user.email, current_user, :method => :get %>
                . <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
              </p>
            </li>
        <% else %>
            <li id="profileLink">
              <p>
                <%= link_to 'Sign up', new_user_registration_path, :method => :get %> /
                <%= link_to 'Sign in', new_user_session_path, :method => :get %>
              </p>
            </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<%= yield %>

</body>
</html>
